<footer id="footer">
    <div class="container-fluid">
        <div class="d-flex px-3">
            <div class="card-body col-4">
                <div class="row">
                    <div class="px-4">
                        <h3
                            class="d-inline-block text-white py-2 fw-bold border-footer-txt"
                        >
                            M <span class="text-verde">S</span> A
                        </h3>
                    </div>

                    <p class="text-white ps-4 mt-2">
                        “Potencia tu PC, impulsa tu pasión”
                    </p>
                    <span class="card-text text-white ps-4 d-flex parrafo">
                        En MSA, ofrecemos componentes y accesorios de PC de alta
                        calidad para entusiastas y profesionales de la
                        tecnología. Nos comprometemos a brindar productos
                        seleccionados por su rendimiento y fiabilidad,
                        asegurando una experiencia de compra excepcional. Únete
                        a MSA y lleva tu pasión por la tecnología al siguiente
                        nivel.
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-4 p-3">
                    <div class="text-white p-0">
                        <h4>Nosotros</h4>
                        <div class="border-footer-txt"></div>
                        <ul class="text-white px-0 py-3">
                            <li class="list-group-item pb-2">
                                <a
                                    href="https://github.com/sant2024"
                                    target="_blank"
                                    class="nav-link"
                                >
                                    Santiago Díaz
                                </a>
                            </li>
                            <li class="list-group-item pb-2">
                                <a
                                    href="https://github.com/zanl0"
                                    target="_blank"
                                    class="nav-link"
                                    >Alejandro Castaño</a
                                >
                            </li>
                            <li class="list-group-item pb-2">
                                <a
                                    href="https://github.com/miklegonza"
                                    target="_blank"
                                    class="nav-link"
                                    >Michael González</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-4 ps-4 d-block justify-content-center">
                    <div class="text-white p-3">
                        <h4>Enlaces</h4>
                        <div class="border-footer-txt"></div>
                        <ul class="text-white px-0 py-3">
                            <li class="list-group-item">
                                <a href="#" class="nav-link pb-2"> Inicio </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="nav-link pb-2">Acerca de </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#footer" class="nav-link pb-2"
                                    >Contacto</a
                                >
                            </li>
                            <li class="list-group-item">
                                <a
                                    href="https://github.com/zanl0/msa"
                                    target="_blank"
                                    class="nav-link pb-2"
                                    >GitHub</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-4 text-white py-3">
                    <h4>Contacto</h4>
                    <div class="border-footer-txt"></div>
                    <div class="main py-4">
                        <div class="up">
                            <button class="card1">
                                <i class="fa-brands fa-whatsapp whatsapp"> </i>
                            </button>
                            <button class="card2">
                                <i class="fa-brands fa-linkedin linkedin"></i>
                            </button>
                        </div>
                        <div class="down d-flex justify-content-end">
                            <button class="card3">
                                <a
                                    class="text-black"
                                    href="https://github.com/zanl0/msa"
                                    target="_blank"
                                >
                                    <i class="fa-brands fa-github github"></i>
                                </a>
                            </button>
                            <button class="card4">
                                <i class="fa-brands fa-discord discord"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center text-white">
            No Copyright © 2024 | Powered by us
        </div>
    </div>
</footer>
