<footer id="footer">
    <div class="container-fluid">
        <div class="row px-3">
            <!-- Sección principal -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <h3 class="text-white py-2 fw-bold border-footer-txt">M<span class="text-verde">S</span>A</h3>
                    </div>
                    <p class="text-white">“Potencia tu PC, impulsa tu pasión”</p>
                    <span class="card-text text-white parrafo">
                        En MSA, ofrecemos componentes y accesorios de PC de alta
                        calidad para entusiastas y profesionales de la
                        tecnología. Nos comprometemos a brindar productos
                        seleccionados por su rendimiento y fiabilidad,
                        asegurando una experiencia de compra excepcional. Únete
                        a MSA y lleva tu pasión por la tecnología al siguiente
                        nivel.
                    </span>
                </div>
            </div>

            <!-- Sección Nosotros -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="text-white p-3">
                    <h4>Nosotros</h4>
                    <div class="border-footer-txt"></div>
                    <ul class="list-unstyled py-3">
                        <li class="pb-2">
                            <a href="https://github.com/sant2024" target="_blank" class="nav-link">Santiago Díaz</a>
                        </li>
                        <li class="pb-2">
                            <a href="https://github.com/zanl0" target="_blank" class="nav-link">Alejandro Castaño</a>
                        </li>
                        <li class="pb-2">
                            <a href="https://github.com/miklegonza" target="_blank" class="nav-link">Michael
                                González</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sección Enlaces -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="text-white p-3">
                    <h4>Enlaces</h4>
                    <div class="border-footer-txt"></div>
                    <ul class="list-unstyled py-3">
                        <li class="pb-2">
                            <a href="#" class="nav-link">Inicio</a>
                        </li>
                        <li class="pb-2">
                            <a href="#" class="nav-link">Acerca de</a>
                        </li>
                        <li class="pb-2">
                            <a href="#footer" class="nav-link">Contacto</a>
                        </li>
                        <li class="pb-2">
                            <a href="https://github.com/zanl0/msa" target="_blank" class="nav-link">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sección Contacto -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="text-white p-3">
                    <h4>Contacto</h4>
                    <div class="border-footer-txt"></div>
                    <div class="main py-4">
                        <div class="up">

                            <button class="card1 mx-1 mb-1">
                                <i class="fa-brands fa-whatsapp whatsapp"></i>
                            </button>

                            <button class="card2 mx-1 mb-1">
                                <i class="fa-brands fa-linkedin linkedin"></i>
                            </button>
                        </div>
                        <div class=" down d-flex justify-content-end">
                            <button class="card3 mx-1 mb-1">
                                <a class="text-black" href="https://github.com/zanl0/msa" target="_blank">
                                    <i class="fa-brands fa-github github"></i>
                                </a>
                            </button>

                            <button class="card4 mx-1 mb-1">
                                <i class="fa-brands fa-discord discord"></i>
                            </button>


                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center text-white mt-4">
                No Copyright © 2024 | Powered by us
            </div>
        </div>
    </div>
</footer>


