<div class="container-fluid">







    <div class="row px-4 py-2 contenido1">
        <nav class="col-lg-4 navbar bg-black-tertiary d-none d-lg-flex">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-white fs-6 border-verde gap-4" routerLink="/">Componentes</a>
                <a class="navbar-brand text-white fs-6 border-verde gap-4" href="#footer">Contacto</a>
                <a class="navbar-brand text-white fs-6 border-verde gap-4" href="#footer">Sobre Nosotros</a>
            </div>
        </nav>

        <section class=" col-sm-8 col-md-8 col-lg-4  d-flex justify-content-between justify-content-lg-center align-items-center">
            <div class="titulo">
                <a href="/" class="d-flex justify-content-center pt-2 ps-3 ps-lg-0 text-white text-decoration-none fw-bold">
                    <h1 class="fw-bold">M <span class="letras">S </span>A <span class="letras"> F</span></h1>
                </a>
            </div>


            <div class="d-block d-lg-none">
                <button type="button" class="btn text-white" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-bars fs-1"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-dark">
                    <div class="d-flex justify-content-between p-2">
                    <li> <a href="https://github.com/zanl0/msa"><i
                                class="fa-brands fa-github p-2 border-verde coloremojis"></i></a></li>
                    <li> <a routerLink="/carrito"><i
                                class="fa-solid fa-cart-shopping p-2 border-verde coloremojis"></i></a></li>
                    <li> <a href="/login"><i class="fa-solid fa-right-to-bracket p-2 border-verde coloremojis"></i></a>
                    </li>
                </div>
                </ul>
            </div>

        </section>




        <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-flex justify-content-end align-items-center  gap-2">
            <a href="https://github.com/zanl0/msa"><i class="fa-brands fa-github p-2 border-verde coloremojis"></i></a>
            <a routerLink="/carrito"><i class="fa-solid fa-cart-shopping p-2 border-verde coloremojis"></i></a>
            <a href="/login"><i class="fa-solid fa-right-to-bracket p-2 border-verde coloremojis"></i></a>
        </div>
    </div>
</div>
