.letras {
    color: var(--primary);
}


.border-verde {
    border-bottom: 4px var(--primary) solid;
}


.coloremojis {
    color: var(--white);
}


// @media (width < 576px) {

// .contenido1{

//     display: flex;
//     justify-content: space-between;
//     align-items: end;
// }

// }
