<div class="container-fluid my-3">

    <h1 class="texto-carrito px-1 pb-2">Carrito de compras</h1>

    <div class="row px-3 ">
        <div class="col-lg-8 ">
            @for (cart of carrito; track cart._id) {
            <div class="d-none d-sm-flex producto rounded-3 p-3 d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <img [src]="cart.imagen" class="rounded-3" width="75" alt="Producto" />
                    <div class="algo ps-3">
                        <p class="productos-sm m-0 fw-semibold fs-5">
                            {{ cart.producto }}
                        </p>
                        <p class="m-0 texto-carrito">{{ cart.marca }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <span class="mx-3 fs-5">1</span>
                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <p class="m-0 fs-5 fw-semibold text-nowrap">
                    &dollar; {{ cart.precio.toLocaleString() }}
                </p>
                <div class="Basura">
                    <button class="btn btn-outline-danger bola border-0">
                        <i class="fa-solid fa-trash" (click)="deleteComponentCar(cart.producto, cart._id)"></i>
                    </button>
                </div>
            </div>

            <!-- vista carrito responsive -->

            <div class=" row d-flex d-lg-none producto rounded-3 p-3 d-flex  align-items-center mb-3">


            <section class="d-flex align-items-center">

                    <div class="algo ps-3">
                        <p class="productos-sm m-0 fw-semibold fs-3">
                            {{ cart.producto }}
                        </p>
                        <p class="m-0 texto-carrito fs-4">{{ cart.marca }}</p>
                    </div>


                <div class="Basura d-flex justify-content-end">
                    <button class="btn btn-outline-danger bola border-0">
                        <i class="fa-solid fa-trash fs-4" (click)="deleteComponentCar(cart.producto, cart._id)"></i>
                    </button>
                </div>
            </section>

                <section class="d-flex align-items-center">
                    <figure>
                        <img [src]="cart.imagen" class="rounded-3 w-75" width="75" alt="Producto" />
                    </figure>



                    <div class=" d-flex justify-content-end">
                        <button class="btn btn-outline-light bola">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <span class="mx-3 fs-5">1</span>
                        <button class="btn btn-outline-light bola">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </section>



                <article class="text-end">
                    <p class="m-0 fs-5 fw-semibold text-nowrap">
                        &dollar; {{ cart.precio.toLocaleString() }}
                    </p>
                </article>

            </div>


            }


            <div class="d-none d-sm-flex producto rounded-3 p-3 d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <img src="https://www.mrpc.com.co/wp-content/uploads/2023/06/002-19.png" class="rounded-3"
                        width="75" alt="Producto" />
                    <div class="ps-3">
                        <p class="m-0 fw-semibold fs-5">
                            Memoria RAM 32GB Vengeance RGB
                        </p>
                        <p class="m-0">Vengeance</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <span class="mx-3 fs-5">1</span>
                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <p class="m-0 fs-5 fw-semibold">$ 899.000</p>
                <div class="Basura">
                    <button class="btn btn-outline-danger bola border-0">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>

            <!-- div quemado responsive -->
            <div
                class=" row d-flex d-lg-none producto rounded-3 p-3 d-flex justify-content-between align-items-center mb-3">

                <div class="d-flex align-items-center mb-2">


                    <div class="ps-3">
                        <p class="m-0 fw-semibold fs-5 ">
                            Memoria RAM 32GB Vengeance RGB
                        </p>
                        <p class="m-0 fs-3 texto-carrito">Vengeance</p>
                    </div>


                    <div class="Basura  d-flex justify-content-end">
                        <button class="btn btn-outline-danger bola border-0">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>

                </div>


                <div class="d-flex align-items-center">

                    <figure class="ps-3">
                        <img src="https://www.mrpc.com.co/wp-content/uploads/2023/06/002-19.png" class="rounded-3 w-50"
                            width="75" alt="Producto" />
                    </figure>

                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <span class="mx-3 fs-5">1</span>
                    <button class="btn btn-outline-light bola">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <p class="m-0 fs-5 fw-semibold ps-4">$ 899.000</p>

            </div>


        </div>



        <div class="col-lg-4 rounded-3 px-4 py-3 checkout-card">
            <h4 class="mb-2 fw-bold fs-2">Finalizar pedido</h4>
            <form class="row" [formGroup]="formPedido" (ngSubmit)="onSubmit()">
                <div class="col-md-6 mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control borde" id="nombre" formControlName="nombre"
                        placeholder="Ingresa tu nombre" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control borde" id="telefono" formControlName="telefono"
                        placeholder="Ingresa tu teléfono" />
                </div>
                <div class="col-12 mb-3">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="text" class="form-control borde" id="correo" formControlName="correo"
                        placeholder="Ingresa tu correo electrónico" />
                </div>
                <div class="col-12 mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control borde" id="direccion" formControlName="direccion"
                        placeholder="Ingresa tu dirección de residencia" />
                </div>

                <div class="col-12 mb-3 d-none d-lg-flex">
                    <label class="form-label">Medio de pago</label>
                    <div class="payment-methods mb-4 d-flex justify-content-between">
                        <button class="card d-flex justify-content-center medios border-0" type="button">
                            <img src="https://assets.static-gm.com/Assets/cc0f2490-9e46-41eb-86f2-1f581d7a84b7/78b060f3-615c-44e1-9790-4e538aa04eeb/v-1621976606/Desktop.webp"
                                alt="" />
                        </button>

                        <button class="card d-flex justify-content-center medios border-0" type="button">
                            <img src="https://www.freepnglogos.com/uploads/visa-card-logo-9.png" alt="" />
                        </button>

                        <button class="card d-flex justify-content-center medios border-0" type="button">
                            <img src="https://www.freepnglogos.com/uploads/paypal-logo-png-32.png" alt="" />
                        </button>

                        <button class="card d-flex justify-content-center medios border-0" type="button">
                            <img src="https://help.turitop.com/hc/article_attachments/360013282039/isologoVertical.png"
                                alt="" />
                        </button>

                        <button class="card d-flex justify-content-center medios border-0" type="button">
                            <img src="https://familiaincatec.edu.co/wp-content/uploads/2022/12/Efecty-png.png" alt="" />
                        </button>
                    </div>
                </div>

                <!-- metodos de pago respondsive -->

                <div class="mb-3">
                    <section class="row">
                        <label class="form-label">Medio de pago</label>
                        <div class="payment-methods mb-4 d-flex justify-content-between gap-1 m-0">
                            <button class="card d-flex justify-content-center medios border-0" type="button">
                                <img src="https://assets.static-gm.com/Assets/cc0f2490-9e46-41eb-86f2-1f581d7a84b7/78b060f3-615c-44e1-9790-4e538aa04eeb/v-1621976606/Desktop.webp"
                                    alt="" />
                            </button>

                            <button class="card d-flex justify-content-center medios border-0" type="button">
                                <img src="https://www.freepnglogos.com/uploads/visa-card-logo-9.png" alt="" />
                            </button>

                            <button class="card d-flex justify-content-center medios border-0" type="button">
                                <img src="https://www.freepnglogos.com/uploads/paypal-logo-png-32.png" alt="" />
                            </button>

                            <button class="card d-flex justify-content-center medios border-0" type="button">
                                <img src="https://help.turitop.com/hc/article_attachments/360013282039/isologoVertical.png"
                                    alt="" />
                            </button>

                            <button class="card d-flex justify-content-center medios border-0" type="button">
                                <img src="https://familiaincatec.edu.co/wp-content/uploads/2022/12/Efecty-png.png"
                                    alt="" />
                            </button>
                        </div>
                    </section>
                </div>





                <div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Subtotal</span>
                        <span>$ 2’597.000</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Descuento</span>
                        <span>$ 0</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Envío</span>
                        <span>$ 0</span>
                    </div>
                    <div class="d-flex justify-content-between font-weight-bold mt-3 fs-5">
                        <span class="fw-bold">Total</span>
                        <span class="fw-bold">&dollar; {{ total.toLocaleString() }}</span>
                    </div>
                </div>
                <button class="btn bg-green border-0 mt-4 w-100 fw-bold" type="submit" [disabled]="!formPedido.valid">
                    Finalizar
                </button>
            </form>
        </div>








    </div>
</div>
