/* compra */
$shadow-color: rgba(0, 0, 0, 0.25);

.producto {
    background-color: var(--secondary);
    color: var(--white);
}

.bola {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basura {
    color: red;
}

/*compra */

/*finalizar*/

.borde {
    border-bottom: 4px solid var(--primary);
    box-shadow: 0px 5px 5px 0px $shadow-color;
}

.checkout-card {
    background-color: var(--teriary);
    color: var(--white);
}

.payment-methods img {
    width: 50px;
    margin: 5px;
    object-fit: contain;
}

.medios {
    background-color: var(--white);
    color: var(--background);
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: var(--secondary);
    }
}
