<app-carrusel />

<section class="container-fluid">
    <div class="text-white px-1 py-4">
        <div class="d-flex justify-content-between">
            <h3 class="ps-4">Productos</h3>
            <section
                class="text-white d-flex justify-content-between align-items-center px-4"
            >
                <article class="d-flex gap-2">
                    <button
                        class="bordersito btn btn-outline-secondary btn px-3 py-1 rounded-5 text-white fw-bold fs-6"
                    >
                        Usuarios
                    </button>
                    <button
                        class="bordersito btn btn-outline-secondary btn px-3 py-1 rounded-5 text-white fw-bold fs-6 active-button"
                    >
                        Componentes
                    </button>
                    <button
                        class="bordersito btn btn-outline-secondary btn px-3 py-1 rounded-5 text-white fw-bold fs-6"
                    >
                        Pedidos
                    </button>
                </article>
            </section>
        </div>
    </div>
    <div class="row mb-4 px-3 g-3">
        @for (producto of productos; track producto._id) {
            @if (producto.size != "big") {
                <div class="col-3">
                    <section class="item p-3">
                        <div class="texto-xs">
                            <h4 class="m-0 fs-5 w-75">
                                {{ producto.producto }}
                            </h4>
                            @for (
                                item of producto.caracteristicas;
                                track $index
                            ) {
                                <p class="m-0">{{ item }}</p>
                            }
                            <p class="mt-2 mb-0 fw-bold fs-6">
                                &dollar; {{ producto.precio.toLocaleString() }}
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <img
                                class="small"
                                [src]="producto.imagen"
                                alt=""
                                width="200"
                            />
                        </div>
                        <button class="card-button btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </section>
                </div>
            } @else {
                <div class="col-6">
                    <section
                        class="item p-4 d-flex justify-content-between align-items-center"
                    >
                        <div>
                            <h4>{{ producto.producto }}</h4>
                            @for (
                                item of producto.caracteristicas;
                                track $index
                            ) {
                                <p class="m-0">{{ item }}</p>
                            }
                            <p class="mt-2 fw-bold fs-5">
                                &dollar; {{ producto.precio.toLocaleString() }}
                            </p>
                        </div>
                        <div>
                            <img [src]="producto.imagen" alt="" width="250" />
                        </div>
                        <button class="card-button btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </section>
                </div>
            }
        }
    </div>
</section>
