<app-carrusel />

<div>
    <div class="col-12  text-white p-4">

        <div class="d-flex justify-content-between ">
            <h2 class="ps-3">Productos</h2>
            <section class="text-white d-flex justify-content-between align-items-center px-4">

                <article class="d-flex gap-2">
                    <button class="bordersito  btn btn-outline-secondary btn px-3 py-1 rounded-5 text-white fw-bold fs-6">
                        Usuarios
                    </button>
                    <button
                        class=" bordersito btn btn-outline-secondary  btn px-3 py-1 rounded-5 text-white fw-bold fs-6 active-button">
                        Componentes
                    </button>
                    <button class=" bordersito btn btn-outline-secondary btn px-3 py-1 rounded-5 text-white fw-bold fs-6">
                        Pedidos
                    </button>
                </article>
            </section>
        </div>
    </div>
    <div class="row mb-4 px-3 ">
        @for (producto of productos; track producto._id) {
            <div [class]="'px-2 '+producto.claseHTML">
                <div class="item">
                    <section class=" texto-xs   " [class.d-flex]="producto.claseHTML == 'col-6'">
                        <div class="">
                            <div class="texto-l2">
                                <div class="texto-xs texto-l2">
                                    <h2 class="texto-xs m-0">{{ producto.producto }}</h2>
                                    @for (item of producto.caracteristicas; track $index) {
                                    <p class="m-0">{{item}}</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div>
                            <img class="imgs2"
                                [src]="producto.imagen"
                                alt="">
                        </div>
                    </section>
                </div>
            </div>
        }

    </div>



</div>
