.bordersito {
    border: 2px solid var(--white);

    &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
    }

}

.item {
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 1rem;
    height: 330px;
}

.texto-xs {
    font-size: .8rem;
}
