<section
    class="text-white d-flex justify-content-between align-items-center px-4 py-3"
>
    <h3>Administración de {{ title }}</h3>
    <article class="d-flex gap-2">
        <button
            class="categoria btn px-3 py-1 rounded-5 text-white fw-bold fs-6"
        >
            Usuarios
        </button>
        <button
            class="categoria btn px-3 py-1 rounded-5 text-white fw-bold fs-6 active-button"
        >
            Componentes
        </button>
        <button
            class="categoria btn px-3 py-1 rounded-5 text-white fw-bold fs-6"
        >
            Pedidos
        </button>
    </article>
</section>
<section>
    <div class="table-responsive container">
        <table class="table table-dark align-middle">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Características</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (producto of productos; track producto._id) {
                <tr>
                    <td>{{ producto.producto }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>
                        <ul class="ps-3 m-0">
                            @for (caracteristica of producto.caracteristicas;
                            track $index) {
                            <li class="text-nowrap">{{ caracteristica }}</li>
                            }
                        </ul>
                    </td>
                    <td class="text-nowrap">
                        &dollar; {{ producto.precio.toLocaleString() }}
                    </td>
                    <td class="text-center">
                        <button
                            type="button"
                            class="btn p-0 border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            (click)="
                                setImage(
                                    'Imagen ' + producto.marca,
                                    producto.imagen
                                )
                            "
                        >
                            <i
                                class="button image fa-solid fa-images text-white p-2 rounded-5"
                            ></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <div class="d-flex">
                            <button type="button" class="btn p-0 border-0">
                                <i
                                    class="button edit fa-solid fa-pen text-warning p-2 rounded-5"
                                ></i>
                            </button>
                            <div class="btn-separator m-2"></div>
                            <button type="button" class="btn p-0 border-0">
                                <i
                                    class="button delete fa-solid fa-trash text-danger p-2 rounded-5"
                                    (click)="deleteComponent(producto._id)"
                                ></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button
            type="button"
            class="btn bg-green d-block ms-auto px-3 fw-bold rounded-5"
        >
            Agregar
            <i class="fa-solid fa-circle-plus ms-2"></i>
        </button>
    </div>
</section>

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <app-modal-content [image]="urlImage" [title]="modalTitle" />
        </div>
    </div>
</div>
