<div class="modal-header">
    <h2 class="modal-title fs-5">{{ title }}</h2>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
    ></button>
</div>
<div class="modal-body d-flex justify-content-center align-items-center">
    <form class="row g-3" [formGroup]="formUsers" (ngSubmit)="onSubmit()">
        <div class="col-12">
            <label for="nombre" class="form-label">Nombre</label>
            <input
                type="text"
                class="form-control"
                id="nombre"
                formControlName="nombre"
                placeholder="Ingrese su nombre"
                required
            />
        </div>
        <div class="col-12">
            <label for="usuario" class="form-label">Usuario</label>
            <input
                type="text"
                class="form-control"
                id="usuario"
                formControlName="usuario"
                placeholder="Cree un nombre de usuario"
                required
            />
        </div>
        <div class="col-12">
            <label for="clave" class="form-label">Contraseña</label>
            <input
                type="password"
                class="form-control"
                id="clave"
                formControlName="clave"
                placeholder="Cree una contraseña"
                required
            />
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
                type="text"
                class="form-control"
                id="telefono"
                formControlName="telefono"
                placeholder="Ingrese su teléfono"
                required
            />
        </div>
        <div class="col-md-6">
            <label class="form-label">Administrador</label>
            <div class="form-check form-switch mt-2">
                <input
                    class="form-check-input check"
                    type="checkbox"
                    role="switch"
                    id="admin"
                    formControlName="admin"
                />
                @if (formUsers.get("admin")?.value == true) {
                    <label class="form-check-label ps-2" for="admin">Si</label>
                } @else {
                    <label class="form-check-label ps-2" for="admin">No</label>
                }
            </div>
        </div>
        <div class="col-12">
            <label for="correo" class="form-label">Email</label>
            <input
                type="text"
                class="form-control"
                id="correo"
                formControlName="correo"
                placeholder="Ingrese su correo"
                required
            />
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button
                type="submit"
                class="btn bg-green px-4"
                data-bs-dismiss="modal"
                [disabled]="!formUsers.valid"
            >
                {{ button }}
            </button>
        </div>
    </form>
</div>
