th,
td {
    background-color: transparent;
}

.button {
    &.edit:hover {
        background-color: var(--bs-warning);
        color: var(--background) !important;
    }

    &.delete:hover {
        background-color: var(--bs-danger);
        color: var(--background) !important;
    }
}

.btn-separator {
    min-height: 100%;
    border: 1px solid var(--white);
}
