
/* carrusel */
.colorcarru1 {
    background: var(--secondary);
}

.colorcarru {
    background: #626567;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

.minimo-h {
    min-height: 370px;
}

.botonverde {
    background-color: var(--primary);
}

.tamano {
    width: auto;
    height: 265px;
}
