/* carrusel */
.colorcarru1 {
    background: var(--secondary);
}

.publicidad {
    color: var(--primary);
}

.colorcarru {
    background: #626567;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

.minimo-h {
    height: 320px;
}

.descripcion {
    line-height: 1.2rem;
}
