<div class=" row">
    <div class=" col-9 ps-5">

        <div id="carouselExampleInterval" class="carousel minimo-h slide text-white rounded-4 colorcarru1 "
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class=" d-flex justify-content-between align-items-center align-content-center px-5 pt-5">
                        <div class="ps-5">
                            <h1> Componentes <br> Gaming</h1>
                            <h5>La mejor elección para tu setup <br> gamer</h5>
                        </div>

                        <img src="https://storage-asset.msi.com/event/2020/mb/z490/images/msi-motherboards-z490-models.png"
                            class="d-block w-50  tamaño" alt="...">
                    </div>

                </div>


                <div class="carousel-item " data-bs-interval="2000">
                    <div class="d-flex justify-content-between align-items-center px-5 pt-5">
                        <div class="ps-5">
                            <h1> Componentes <br> Gaming</h1>
                            <h5>La mejor elección para tu setup <br> gamer</h5>
                        </div>

                        <img src="https://storage-asset.msi.com/event/2020/mb/z490/images/msi-motherboards-z490-models.png"
                            class="d-block w-50  tamaño" alt="...">
                    </div>
                </div>


                <div class="carousel-item ">
                    <div class="d-flex justify-content-between align-items-center px-5 p-5">
                        <div class="ps-5">
                            <h1> Componentes <br> Gaming</h1>
                            <h5>La mejor elección para tu setup <br> gamer</h5>
                        </div>

                        <img src="https://asset.msi.com/resize/image/global/product/product_160516119064accdd6d4e26f33a723921155fac476.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png"
                            class="d-block w-50   tamaño" alt="...">
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev flechaizquierda " type="button"
                data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next flechaderecha" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>




    <!-- Card 2 -->

    <div class="col-3">
        <div class="card rounded-4  colorcarru minimo-h2 text-white " style="width: 18rem;">
            <div class="card-body">
                <div>
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="6000">
                                <div>
                                    <h2 class="card-title ">Recomendado</h2>
                                </div>
                                <img src="https://asset.msi.com/resize/image/global/product/product_160516119064accdd6d4e26f33a723921155fac476.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png"
                                    class="card-img-top " alt="...">
                                <p class="card-text">
                                    AMD <br> Rx 8024 XT
                                </p>
                            </div>

                            <div class="carousel-item" data-bs-interval="6000">
                                <div>
                                    <h2 class="card-title ">Recomendado</h2>
                                    <p class="card-text">
                                        AMD <br> Rx 8024 XT
                                    </p>
                                </div>

                                <img src="https://asset.msi.com/resize/image/global/product/product_160516119064accdd6d4e26f33a723921155fac476.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png"
                                    class="card-img-top " alt="...">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn text-white botonverde">Ver más</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

